<div class="ui five column stackable grid cards">
  {{#each (sort-by 'name' cities) as |city|}}
    <div class="column">
      {{#if city.live}}
        {{#link-to 'cities.city.show' city.id}}
          {{city-card city=city class='link'}}
        {{/link-to}}
      {{else}}
        {{city-card city=city}}
      {{/if}}
    </div>
  {{/each}}
</div>
