<div class="footer-nav">
  <div class="ui borderless mini menu">
    <div class="left menu" id="fixed-footer">
      {{scroll-to href='#about' label='About' class='link item'}}
      {{scroll-to href='#data-info' label='Data Info' class='link item'}}
      <div class="link item">
        Legal
      </div>
    </div>
    <div class="right fitted menu">
      <a class="link item" href="https://www.massdevelopment.com" target="_blank">
        <img src="/images/massdevelopmentlogo.jpg" class="ui tiny image" />
      </a>
    </div>
  </div>
</div>
