
<div class="ui vertical segment">

  <div class="ui accordion">
      <div class="active title">

        <h3>Attributes <i class="dropdown icon"></i></h3>
      </div>
      <div class="active content">
        <div class="ui vertical segment">
            <div class="ui text vertical segment seg">
              <p><strong>Source Type</strong></p>
              <span class="place-detail">{{sourceType}}</span>
            </div>
            <div class="ui text vertical segment seg">
              <p><strong>Investment Descriptor</strong></p>
              <span class="place-detail">{{investmentType}}</span>

            </div>
        </div>
      </div>
    </div>
</div>
