{{#link-to route modelContext class="ui fluid card"}}
  <div class="image">
    <div class="card-image" style={{style}}>
      <div class="card-image-overlay"></div>
    </div>
  </div>
  <div class="extra content splash-inverted">
    <span class="left floated">
      {{yield}}
    </span>
    <span class="right floated star">
      <img class="ui mini image" src={{modelContext.iconWatermarkUrl}}/>
    </span>
  </div>
{{/link-to}}