{{#each orderedSnapshots as |snapshot|}}
  {{timeline-edit month=snapshot.date status=snapshot.status choices=choices}}
{{/each}}
<div class="ui gray fluid button" {{action 'addNew'}}>
Add
</div>
<div class="ui divider"></div>
