.component.basemap-menu {

  position: absolute;
  bottom: 60px;
  z-index: 498;

  width: 100%;

  .history-selectors {
    display: inline-block;

    background: $color_bg-light;

    .date-selector {
      display: inline-block; 
    } 
  }

  .basemap-options {
    position: absolute;
    right: 15px;
  }
}

