.component.search-bar {

  $border_radius: 4px;

  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 999;

  height: 35px;

  
  .search-input {
    $angle_size: 15px;

    background: $color_bg-medium;
    border-radius: $border_radius;

    &.searching {
      border-radius: $border_radius $border_radius 0 0;

      h5 { border-radius: $border_radius $border_radius 0 0; }
    }

    h5 {
      display: inline-block; 
      z-index: 2;

      padding: 8px; 
      margin: 0;
      margin-right: $angle_size * 2;

      color: $color_brand-primary;
      font-size: 15px;
      font-weight: 600;

      background: $color_bg-light;
      border-radius: $border_radius;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -$angle_size;
        display: block;

        height: 0;

        border-top: 35px solid transparent;
        border-left: $angle_size solid $color_bg-light;
      }
    }  

    input {
      display: inline-block;
      
      height: 35px;
      width: 240px;
      margin-right: 10px;

      background: $color_bg-medium; 
      border: none;

      outline: none;
    }

    .search-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: block;

      height: 50%;

      img { height: 100%; }

      & > span { 
        top: -3px;

        font-size: 20px;
        font-weight: bold;

        opacity: .6;
        cursor: pointer; 

        &:hover { opacity: 1; }
      }
    }
  }

}
