{{#ember-wormhole to="left-items"}}
  <div class="item">
    {{#ui-dropdown class="dropdown ui button"}}
      <i class="plus icon"></i>
      Add Data
      <div class="add-data menu">
        <div class="item">
          <h4 class="ui header">
            <div class="content">
              City 
              <div class="sub header">
                {{model.city.name}}
              </div>
            </div>
          </h4>
          <div class="ui divider"></div>
          {{#link-to 'cities.city.new-feature' class="ui button"}}
            <i class="add circle icon"></i>
            Add Place
          {{/link-to}}

          {{#link-to 'cities.city.new-investment' class="ui button"}}
            <i class="add circle icon"></i>
            Add Investment
          {{/link-to}}
        </div>
      </div>
    {{/ui-dropdown}}
  </div>
{{/ember-wormhole}}

{{#ember-wormhole to="right-items"}}
  <div class="item">
    {{link-to 'Learn More' 'cities.city.index' tagName='div' class='ui inverted green button'}}
  </div>
  {{#if (and session.isAuthenticated)}}
    {{searchable-select content=searchables
                        sortBy='title'
                        on-change=(action 'transitionTo')
                        cache=false
                        prompt='Search Places / Investments'
                        class='item'}}
  {{/if}}
{{/ember-wormhole}}
{{outlet}}
