@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("../fonts/Dosis-ExtraLight.eot?") format("eot"), url("../fonts/Dosis-ExtraLight.woff") format("woff"); }

@font-face {
  font-family: "Dosis-Light";
  src: url("../fonts/Dosis-Light.eot?") format("eot"), url("../fonts/Dosis-Light.woff") format("woff"); }

@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("../fonts/Dosis-ExtraBold.eot?") format("eot"), url("../fonts/Dosis-ExtraBold.woff") format("woff"); }

@font-face {
  font-family: "Dosis-Bold";
  src: url("../fonts/Dosis-Bold.eot?") format("eot"), url("../fonts/Dosis-Bold.woff") format("woff"); }

@font-face {
  font-family: "Dosis-Medium";
  src: url("../fonts/Dosis-Medium.eot?") format("eot"), url("../fonts/Dosis-Medium.woff") format("woff"); }

@font-face {
  font-family: "Dosis-Regular";
  src: url("../fonts/Dosis-Regular.eot?") format("eot"), url("../fonts/Dosis-Regular.woff") format("woff"); }

@font-face {
  font-family: "Dosis-SemiBold";
  src: url("../fonts/Dosis-SemiBold.eot?") format("eot"), url("../fonts/Dosis-SemiBold.woff") format("woff"); }

div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
em,
li,
ul {
  font-family: 'Dosis-Regular' !important; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.box {
  display: flex;
  flex-flow: column;
  height: 100%; }

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */ }

.box .row.content {
  flex: 1 1 auto;
  display: flex; }
  .box .row.content .column-structure {
    flex: 1; }
  .box .row.content .column-structure.sidebar {
    flex: 0 0 33.3333%;
    overflow-y: scroll; }

.box .row.footer {
  flex: 0 1 40px; }

.ember-application > .ember-view {
  height: 100%;
  width: 100%; }

.main-map {
  height: 100%;
  width: 100%; }
  .main-map .leaflet-container {
    height: 100%; }

.cities-map {
  height: 100%;
  width: 100%;
  margin: 0; }

main {
  height: 100%; }

.map-popup {
  position: absolute;
  z-index: 9999;
  max-width: 180px; }

.hidden {
  display: none;
  visibility: inherit; }

.footer-nav {
  width: 100%;
  background-color: white;
  border-top-color: #0A4650;
  border-top-width: 3px;
  border-top-style: solid;
  z-index: 9999; }
  .footer-nav .item {
    color: #0A4650; }
  .footer-nav .ui.borderless.menu {
    border-radius: 0;
    border-width: 0; }

.basemap-menu {
  position: absolute;
  right: 15px;
  bottom: 60px;
  z-index: 498; }

.ui.grid .column.collapsed {
  padding: 0; }

.ui.inverted.main.menu {
  background: #0A4650; }

.ui.menu.main.inverted {
  border-radius: 0; }

.ui.header {
  font-family: 'Dosis-Regular'; }

.ui.header.splash {
  color: #0A4650; }

.ui.header.splash.semi-bold {
  font-family: 'Dosis-ExtraBold'; }

.header.item strong {
  font-size: 1.1em; }

h1.splash.header .content {
  font-family: 'Dosis-ExtraBold' !important; }

.ui.card > .content.splash-inverted {
  background: #0A4650;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Dosis-SemiBold'; }

.card .image {
  background-color: #0A4650 !important;
  z-index: 2; }

.fluid.card .card-image {
  opacity: 0.5;
  -webkit-transition: opacity .25s ease; }

.fluid.card .card-image:hover {
  opacity: 1; }

.statewide-view {
  height: 640px; }

.ui.label.legend {
  background-color: inherit; }

.ui.label.filters-label {
  color: #0A4650;
  border: 2px solid #0A4650;
  background-color: white; }

.ui.label.even-spaced {
  min-width: 100px;
  text-align: center;
  flex-grow: 1; }

.ui.label.filters-label:hover {
  border: 2px solid #0A4650;
  background-color: #0A4650;
  color: white; }

.ui.label.tdi-blue {
  background: #00AFAA;
  border: 2px solid #0A4650; }

.ui.label.tdi-blue:hover {
  background-color: #0A4650;
  border: 2px solid #0A4650; }

.ui.tdi-blue.divider:not(.vertical):not(.horizontal) {
  border-top: 2px solid #0A4650; }

.tdi-semi-bold.title {
  font-family: 'Dosis-SemiBold' !important; }

.ui.accordion .title.tdi-semi-bold:not(.ui) {
  font-size: 1.429em; }

.place-detail {
  text-transform: uppercase;
  bottom: 0px; }

.seg {
  padding-bottom: 0px !important; }

.parcel-view, .investment-view, .place-view {
  background: none #A0C8BE;
  color: #0A4650; }

.parcel-view h3, .investment-view h3, .place-view h3 {
  background: none #A0C8BE;
  color: #0A4650; }

.column-structure.sideba .parcel-view, .column-structure.sideba .investment-view, .column-structure.sideba .place-view {
  background: none #A0C8BE;
  color: #0A4650; }

.resource-nav-menu {
  position: absolute;
  top: 0px;
  right: 15px; }

.related-investments-icon .images {
  background-color: #0A4650;
  border-radius: 20px;
  border-width: 0; }

.related-investments-icon .ui.images {
  margin: 0; }

.related-investments-icon .ui.images img {
  margin: 0; }
  .related-investments-icon .ui.images img[data-icon="planning-or-strategy"] {
    position: relative;
    top: -3px;
    left: 3px;
    width: auto;
    height: auto;
    max-width: 35px !important;
    max-height: 35px !important; }

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.component.search-bar {
  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 999;
  height: 35px; }
  .component.search-bar * {
    position: relative; }
  .component.search-bar .search-input {
    background: #EAEAEA;
    border-radius: 4px; }
    .component.search-bar .search-input.searching {
      border-radius: 4px 4px 0 0; }
      .component.search-bar .search-input.searching h5 {
        border-radius: 4px 4px 0 0; }
    .component.search-bar .search-input h5 {
      display: inline-block;
      z-index: 2;
      padding: 8px;
      margin: 0;
      margin-right: 30px;
      color: #1E454E;
      font-size: 15px;
      font-weight: 600;
      background: #fff;
      border-radius: 4px; }
      .component.search-bar .search-input h5:after {
        content: '';
        position: absolute;
        top: 0;
        right: -15px;
        display: block;
        height: 0;
        border-top: 35px solid transparent;
        border-left: 15px solid #fff; }
    .component.search-bar .search-input input {
      display: inline-block;
      height: 35px;
      width: 240px;
      margin-right: 10px;
      background: #EAEAEA;
      border: none;
      outline: none; }
    .component.search-bar .search-input .search-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 50%; }
      .component.search-bar .search-input .search-icon img {
        height: 100%; }
      .component.search-bar .search-input .search-icon > span {
        top: -3px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        opacity: .6;
        transition: opacity .1s; }
        .component.search-bar .search-input .search-icon > span:hover {
          opacity: 1;
          transition: opacity .1s; }
  .component.search-bar .search-results {
    width: 100%;
    max-height: 30vh;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto; }
    .component.search-bar .search-results li {
      width: 100%;
      padding: 7px 12px;
      cursor: pointer;
      background: #fff;
      transition: background .1s; }
      .component.search-bar .search-results li + li {
        border-top: 1px solid #dddddd; }
      .component.search-bar .search-results li:last-of-type {
        border-radius: 0 0 4px 4px; }
      .component.search-bar .search-results li:hover {
        background: #EAEAEA;
        transition: background .1s; }

.marker-cluster {
  border-radius: 0; }
  .marker-cluster div {
    background-color: initial;
    border-radius: 0; }
    .marker-cluster div span {
      color: #fff;
      font-weight: bold;
      line-height: 25px; }

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: initial;
  background-image: url("/images/icons/investments/cluster.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%; }

/*# sourceMappingURL=cityxcity.css.map */