{{navigation-bar  currentCity=currentCity 
                  model=model 
                  isLoggingIn=isLoggingIn
                  username=username
                  password=password
                  session=session
                  authenticate=(action 'authenticate')
                  invalidateSession=(action 'invalidateSession') }}

<main>
  {{outlet}}
</main>

{{fixed-footer}}
