<div class="cities ui grid">
  <div class="list-results ui segment five wide column" id="sidebar">
    <div class="city-details">
      {{outlet}}
    </div>
  </div>
  <div class="map-results eleven wide column">
    {{main-map}}
  </div>
</div>

{{export-data isExporting=isExporting
              export_csv=(action 'export_csv') }}
