<div class="column-structure sidebar">
  {{outlet}}
</div>
<div class="column-structure">
  {{main-map model=model}}
</div>

{{export-data isExporting=isExporting
              export_csv=(action 'export_csv') }}
