<div class="ui container route index">
  <div class="ui basic center aligned segment">
    <h1 class="ui splash header">
      <div class="content">
        Block x Block
        <div class="sub header">Mapping the place-based economic development activity enabled by the 
          <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
            <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
          </a>
        </div>
      </div>
    </h1>
  </div>

  <div class="ui container">
    {{cities-grid cities=model}}
  </div>

  <br/>

  {{statewide-map cities=model}}

  <div class="ui basic center aligned segment" id="about">
    <h1 class="ui splash header">
      <div class="content">
        Block x Block
        <div class="sub header">Mapping the place-based economic development activity enabled by the 
          <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
            <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
          </a>
        </div>
      </div>
    </h1>
    <div class="ui container">
      <h1 class="ui splash header">About Block x Block</h1>

      <p>This web-based, interactive platform records and contextualizes economic activity at the scale in which urban interventions are deployed and experienced. In doing so, the tool captures hard-earned implementation lessons, reveals spatial and temporal patterns of development, and refines our understanding of catalytic investments. The maps of hyper-localized activity contained within the platform do more than visualize data. The relationships between points are themselves an additional form of data: one that correlates development outcomes with the collective actions of the community of stakeholders responsible for the district’s long-term success. Right now, the platform is operating in beta mode. We appreciate your participation in the ongoing data collection efforts—we believe that your working knowledge is critical to the success of future place-based interventions and we thank you for sharing your experience with us!</p>

      <h1 class="ui splash header">About Transformation Development Initiative</h1>

      <p>MassDevelopment's Transformative Development Initiative (TDI) is a development accelerator for Gateway Cities. The initiative acts through Fellows and District Managers to implement locally initiated, catalytic revitalization activities within compact geographies, each no larger than a 5 minute walking radius. Team TDI works in conjunction with local public-private partners to enable sustainable district management, build a vibrant and inclusive public realm, and inspire investments by local residents, entrepreneurs, and businesses, and additional private development—contributions that we call “community co-investment.” Along with program-specific tools in the Commonwealth of Massachusetts' Transformative Development Fund, TDI deploys existing MassDevelopment finance products and real estate services to encourage development activity by private landowners, enterprises, and investors. The Transformative Development Fund was created within MassDevelopment pursuant to C. 287, Acts of 2014, in August 2014. Twenty-six Gateway Cities were eligible for the program, and in 2014, 10 were selected for the three-year pilot program. These 10 districts are currently in development.</p>


      <h1 class="ui splash header">About MassDevelopment</h1>

      <p>As the Commonwealth’s quasi-public economic development and finance authority, MassDevelopment offers financing and real estate solutions to support companies and nonprofits, increase housing, eliminate blight, and drive economic growth across Massachusetts.</p>
    </div>

    <h1 class="ui splash header" id="data-info">
      <div class="content">
        Data Info
      </div>
    </h1>
    <div class="ui container">
      <ul>
        <li>
          <label>Ground Floor Vacancy Status:</label>
          <p>
            One of four vacancy classifications is recorded according to annual on the ground observation: Is Vacant Lot, Entirely Vacant, Not Vacant, Partially Vacant.
          </p>
        </li>
        <li>
          <label>Upper Floor Vacancy Status:</label>
          <p>
            One of three vacancy classifications is recorded according to annual on the ground observation: Entirely Vacant, Not Vacant, Partially Vacant.
          </p>
        </li>
        <li>
          <label>Site Control:</label>
          <p>
            One of four site control entity types is recorded per Fellow’s working knowledge of the District: MassDevelopment-Controlled, Partner-Controlled, Privately Owned, Publicly Owned. Parcels in question may be confirmed through a methodology to be determined. Please note, “Partner-Controlled” refers to primary TDI District Partners only.
          </p>
        </li>
        <li>
          <label>Engaged Property or Place Owner:</label>
          <p>
            Binary field contingent upon Fellow’s assessment of the following: Is the owner of this parcel/place engaged with the TDI program or other community activities?
          </p>
        </li>
        <li>
          <label>Location Type:</label>
          <p>
            Is this location a Street Address, Describable, or does the point refer to something District-wide?
          </p>
        </li>
        <li>
          <label>Place Type:</label>
          <p>
            User selects the place type that best describes the primary use or activities that occur at the designated location.
          </p>
        </li>
        <li>
          <label>Place Subtype:</label>
          <p>
            Place subtypes are selected according to Type.
          </p>
        </li>
        <li>
          <label>Street Activating:</label>
          <p>
            Places are considered ‘activated’ based upon (i) foot traffic (approx. 5-10 users/ hr; draws users in otherwise quiet street times), ii) positive visual interest (the place/built environment “draws you in”), iii) contribution to the sense of District identity , and (iv) the perception of safety of the area is improved
          </p>
        </li>
        <li>
          <label>Community Hub:</label>
          <p>
            Binary field contingent upon Fellow’s assessment of the following: Is this place a "community hub"? Do people gather here and do work/ have conversations that lead to community improvement/engagement?
          </p>
        </li>
        <li>
          <label>TDI Asset:</label>
          <p>
            Binary field contingent upon Fellow’s assessment of the following: Does this place contribute to the program-wide and local goals of the TDI program? (very subjective for now)
          </p>
        </li>
        <li>
          <label>Place-based Investment Location:</label>
          <p>
            The point at which an investment occurs. Note: Should not represent the physical address of a borrower entity but rather the location in which the funds are invested.
          </p>
        </li>
        <li>
          <label>Source Type:</label>
          <p>
            One of four sources of funding is recorded per Fellow’s working knowledge of the District, data recorded within MDFA’s Enable software, and research coordinated with municipal partners related to dispersed public funds.
          </p>
        </li>
        <li>
          <label>Investment Type:</label>
          <p>
            One of five terms is selected to best describe the form through which an investment is deployed: Planning/Strategy, Finance, Small Business Growth, Infrastructure, Placemaking
          </p>
        </li>
        <li>
          <label>TDI Influence:</label>
          <p>
            Selection of this binary field indicates that the investment would likely not have been made (at all or at its current scale, location, timing, or use) without a) the direct involvement of a TDI Fellow or MassDevelopment staff member working through the TDI Program, b) the use of a TDI financial product, or c) in response to specific TDI TA efforts and program activities within the district.
          </p>
        </li>
        <li>
          <label>Project Name and Total Project Amount:</label>
          <p>
            Name and amount describe the total deal within which the recorded investment occurs.
          </p>
        </li>
      </ul>
    </div>

    <a href="#" class="mini ui button">
      Back to top
    </a>
  </div>
</div>

{{footer-nav}}
