<div class="ui basic center aligned segment">
  <h1 class="ui splash header">
    <div class="content">
      Block x Block
      <div class="sub header">Mapping the place-based economic development activity enabled by the 
        <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
          <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
        </a>
      </div>
    </div>
  </h1>
</div>

<div class="ui container">
  {{cities-grid cities=(sort-by 'name' model)}}
</div>