<div class="ui basic center aligned segment">
  <h1 class="ui splash header">
    <div class="content">
      Block x Block
      <div class="sub header">Mapping the place-based economic development activity enabled by the 
        <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
          <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
        </a>
      </div>
    </div>
  </h1>
</div>

<div class="ui container">
  {{cities-grid cities=(sort-by 'name' model)}}
</div>

<br/>

{{#leaflet-map  lat               = 42 
                lng               = -71.922 
                zoom              = 9 
                scrollWheelZoom   = false
                doubleClickZoom   = false
                dragging          = false
                class             = 'statewide-view'}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each model as |city|}}
    {{marker-layer  lat=city.latitude 
                    lng=city.longitude 
                    onClick=(action 'linkTo' 'cities.city.city-filters' city.id)
                    icon= (icon iconUrl = (concat 'images/icons/cities/' city.name '.png')) }}
  {{/each}}
{{/leaflet-map}}

<div class="ui basic center aligned segment">
  <h1 class="ui splash header">
    <div class="content">
      Block x Block
      <div class="sub header">Mapping the place-based economic development activity enabled by the 
        <a href="http://www.massdevelopment.com/what-we-offer/key-initiatives/gateway-cities/" target="_blank">
          <h3 class="ui splash semi-bold header">Transformation Development Initiative</h3>
        </a>
      </div>
    </div>
  </h1>
  <div class="ui container">
    <h1 class="ui splash header">About Block x Block</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <h1 class="ui splash header">About Transformation Development Initiative</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


    <h1 class="ui splash header">About MassDevelopment</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <a href="#" class="mini ui button">
    Back to top
  </a>
</div>


<br/><br/><br/>